*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

overflow:hidden;

font-family:"Press Start 2P", cursive;

background:black;

}



#forest{

width:100vw;
height:100vh;

position:relative;

overflow:hidden;

animation:

fadeIn 2s ease;


}




#forest-bg{


position:absolute;

width:100%;
height:100%;

object-fit:cover;

z-index:0;

}





/* PLAYER */


#rachel{


position:absolute;


bottom:15%;


left:-100px;


width:75px;


image-rendering:pixelated;


z-index:5;


animation:

walkIn 5s forwards;


}




/* HUD */


#hud{


position:absolute;

top:25px;

left:25px;

z-index:20;


}



#date{


background:

rgba(0,0,0,.45);


padding:18px;

border-radius:15px;


color:white;


line-height:1.8;


text-shadow:

3px 3px black;


}





/* STORY */


#story-screen{


position:absolute;

inset:0;


display:flex;

justify-content:center;

align-items:center;


z-index:30;


}



#story-box{


width:650px;


padding:35px;


background:

linear-gradient(

#fff8dd,

#e8ca85

);



border:8px solid #6a3f17;


border-radius:20px;


color:#4b2b14;


box-shadow:

0 12px #593214;


text-align:center;


animation:

popup .8s ease;


}



#story-text{


font-size:12px;

line-height:2.2;


min-height:150px;


}



button{


margin-top:30px;


padding:15px 35px;


font-family:

"Press Start 2P";


background:

linear-gradient(

#ffe08d,

#dba95b

);



border:5px solid #6a3f17;


border-radius:14px;


cursor:pointer;


color:#4b2b14;


box-shadow:

0 6px #593214;


}



button:hover{


transform:translateY(-4px);


}





/* FIREFLIES */


.firefly{


position:absolute;


width:8px;

height:8px;


background:#fff5a8;


border-radius:50%;


box-shadow:

0 0 15px yellow;


animation:

float 5s infinite;


}



.f1{

left:20%;
top:30%;

}

.f2{

left:70%;
top:25%;

}

.f3{

left:45%;
top:50%;

}

.f4{

left:80%;
top:70%;

}

.f5{

left:30%;
top:75%;

}





@keyframes float{


50%{

transform:

translateY(-30px);

opacity:.5;

}


}




@keyframes walkIn{


from{

left:-100px;

}


to{

left:45%;

}


}




@keyframes popup{


from{

opacity:0;

transform:scale(.8);

}


to{

opacity:1;

transform:scale(1);

}


}



@keyframes fadeIn{


from{

opacity:0;

}


to{

opacity:1;

}


}